@page
@model IndexModel
@{
    ViewData["Title"] = "Курсова робота";
}

<div class="text-center">
    <h1 class="display-4">Курсова Робота</h1>
    <p>з курсу "Бази даних та знань"</p>
    <h2>Memory Microshemes Store</h2>
    <p>Студента групи КБ-208</p>
    <p>Поповича Тараса</p>
</div>
